.avatar-box{
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.avatar-profile-image{
    width:67px;
    border-radius: 50%;
}
.carousel-status{
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(8, 32, 55, 1), rgba(67, 93, 117, 0.9), rgba(255, 255, 255, 0.7)); */
    /* background: linear-gradient(to top,rgba(67, 93, 117, 0.9) 0%, rgba(255, 255, 255, 0.7),  rgba(8, 32, 55, 1) ); */
    /* background: rgb(8,32,55); */
    /* background-image: linear-gradient(to top , #071b2e, #13406b, #103658); */
}
.carousel-status h1{
 font-size: 34px;
 font-weight: 500;
}
.carousel-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background: linear-gradient(to top, #261642, rgb(62, 35, 109), #261642);
    border-radius: 8px;
    position: relative;
    scroll-behavior: smooth;
    white-space: nowrap;
    align-items: center;
    padding-bottom: 20px;
    gap: 0;
}

.carousel-body{
    gap: 3rem;
}

.carousel-body::-webkit-scrollbar {
    display: none;
}
.carousel-status h1{
    text-align: center;
}
.avatar-detail{
    margin-left: 99px;
    text-align: center;
    margin-right: 37px;
}
.avatar-name{
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: smaller;
    margin-top: 3vh;
}
.check{
    position: relative;
}
.arrow-btn{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    z-index: 999;
    cursor: pointer;
    background-color: transparent; 
}
.arrow-btn img{
    width: 14px;
    /* height: 50px; */
    color: #EA047E;
}

.left-icon,
.right-icon {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    width: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    z-index: 999;
    cursor: pointer;
}

.left-icon{
    left: 19px;

}
.right-icon{
    right: 20px;
 
}

.carousel-item {
    text-align: center;
    flex-shrink: 0;
}

.text-under-image {
    margin-top: 10px; /* Adjust the margin as needed */
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.carousel-arrow {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
}

.carousel-arrow.left-arrow {
    left: -50px;
}

.carousel-arrow.right-arrow {
    right: -50px;
}

.carousel-arrow:hover {
    background-color: rgba(160, 132, 220, 0.8);
}
